.sidebar{
    grid-area: sb;
    /* grid-template-rows: repeat(auto-fit, minmax(200px, 1fr)); */
    /* justify-items: stretch; */
    /* display:flex;
    flex-flow: column;
    height: 100%;
    align-items: stretch; */
}

.sidebar-title {
    grid-area: sbtit;
    text-align: center;
    align-items: center;

}

.contrib-card {
    display: flex;
    border: solid;
    margin: auto;
    margin-top: 10px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    justify-content: center;
    /* align-items: center; */
}

.billy:hover {
    filter: grayscale(0%);

}

.billy {
    background-image: url(assets/billy-headshot.jpg);
    background-size: 200px;
    background-position: center;
    filter: grayscale(80%);
    position: relative;
    
}


.billy h4 {
    color: white;
    position: absolute;
    top: 75%;
    transform: translateY(-70%);
}

.tim {
    background-image: url(assets/tim-headshot.jpg);
    background-size: 200px;
    background-position: center;
    filter: grayscale(80%);
    position: relative;
    
}


.tim h4 {
    color: white;
    position: absolute;
    top: 75%;
    transform: translateY(-70%);
}

.tim:hover {
    filter: grayscale(0%);
}

.janelle {
    background-image: url(assets/janelle-headshot.jpg);
    background-size: 200px;
    background-position: center;
    filter: grayscale(80%);
    position: relative;
    
}


.janelle h4 {
    color: white;
    position: absolute;
    top: 75%;
    transform: translateY(-70%);
}

.janelle:hover {
    filter: grayscale(0%);
}

.join {
    align-items: center;
}