.nav-bar-container {
    grid-area: head;
    margin: right;
}

.nav-bar{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

li {
    margin: 20px;
}
