@import url(card-styles.css);
@font-face {
    font-family: video-game-font;
    src: url('assets/fonts/Pixelify_Sans/static/PixelifySans-Medium.ttf');
}

* {
    font-family: video-game-font;
}

.container{
    margin: auto;
    display: grid;
    height: 1000px;
    max-width: 1250px;
    grid-gap: 20px;
    grid-template-rows: auto;
    grid-template-areas:
    "nav nav nav"
    "t t t"
    "at at at"
    "bl bl bl"
    "pst1 pst2 pst3"
    "ft ft ft"
}


.box{
    border: solid black 2px;
}

.nav-bar-container {
    grid-area: nav;
    margin: right;
}

.nav-bar{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

li {
    margin: 20px;
}

.header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: white;
    text-shadow: 1px 1px 20px blue;
    

}

.blog-title {
    grid-area: t;
}

.author-card-container {
    grid-area: at;
    display: flex;
}

.author-image {
    background-image: url(assets/billy-headshot.jpg);
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.author-card-container h3 {
    margin: auto auto auto 20px;
}

.blogText{
    grid-area: bl;
}

.past-post1{
    grid-area: pst1;
}

.past-post2{
    grid-area: pst2;
}

.past-post3{
    grid-area: pst3;
}

.footer{
    grid-area: ft;
    margin: 50px auto auto auto;
}

.footer p {
    margin: 0;
}

@media (max-width: 1000px) {
    .container{
        margin: auto;
        display: grid;
        height: 1000px;
        max-width: 1250px;
        grid-gap: 20px;
        grid-template-rows: auto;
        grid-template-areas:
        "nav"
        "t"
        "at"
        "bl"
        "pst1" 
        "pst2" 
        "pst3"
        "ft"
    }
}

