@font-face {
    font-family: video-game-font;
    src: url('assests/fonts/Pixelify_Sans/static/PixelifySans-Medium.ttf');
}

* {
    font-family: video-game-font;
}

.container{
    max-width: 1250px;
    display: grid;
    height: 1000px;
    margin: auto;
    grid-gap: 20px;
    grid-template-rows: 10% 10% 40% 30% 10%;
    grid-template-areas:
    "head head"
    "sb gal"
    "sb con"
    "sb con"
    "ft ft"
}


.box{
    border: solid black 2px;
}

.gallery-title {
    grid-area: gal;
    text-align: center;
}

.nav-bar-container {
    grid-area: head;
    margin: right;
}

.nav-bar{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

li {
    margin: 20px;
}

.sidebar{
    grid-area: sb;
    display:flex;
    flex-flow: column;
    height: 100%;
}

.content{
    grid-area: con;
}

.footer{
    grid-area: ft;
}

.button {
    width: 100%;
}

/* .content-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-flow: row wrap;
} */

.content-container {
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: 300px 300px 300px;
    margin: auto;
    align-items: center;
    justify-items: end;
}

.img {
    max-width: 250px;
    max-height: 250px;
}

@media (max-width: 1000px) {
    .content-container {
        display: grid;
        grid-template-rows: 300px 300px 300px;
        grid-template-columns: 300px 300px;
    }
}