@import url(contrib.css);
@import url(gallery.css);
@import url(nav-bar.css);
@import url(main-page-blog.css);
@font-face {
    font-family: video-game-font;
    src: url('assets/fonts/Pixelify_Sans/static/PixelifySans-Medium.ttf');
}


* {
    font-family: video-game-font;
}

.container{
    max-width: 1250px;
    display: grid;
    height: 100%;
    margin: auto;
    grid-gap: 20px;
    grid-template-rows: auto;
    grid-template-areas:
    "head head"
    "sbtit gal"
    "sb con"
    "sb con"
    "sb blt"
    "sb bl"
    "ft ft"
}


.footer {
    grid-area: ft;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.footer p {
    margin: 0px;
}


@media (max-width: 1000px) {
    .container{
        max-width: 1250px;
        display: grid;
        height: auto;
        margin: auto;
        grid-gap: 20px;
        grid-template-rows: auto;
        grid-template-areas:
        "head"
        "gal"
        "con"
        "con"
        "blt"
        "sbtit"
        "bl"
        "sb"
        "ft"
        
    }

    .nav-bar-container {
        grid-area: head;
        margin: auto;
    }

    .content-container {
        display: grid;
        grid-template-rows: 300px 300px 300px;
        grid-template-columns: 300px 300px;
    }

    .sidebar{
        grid-area: sb;
        display:flex;
        flex-flow: column;
        height: 100%;
    }
}
